<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10972751751-81v8rr5iog3gbnboia7shgi99cqg0hkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10972751751-81v8rr5iog3gbnboia7shgi99cqg0hkt</string>
	<key>API_KEY</key>
	<string>AIzaSyCPAx2O_bq0KLolfAZKHxhHu7b0C0u4I-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>10972751751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>imis.nictanzania.co.imisClientApp.ios.release</string>
	<key>PROJECT_ID</key>
	<string>imis-d55f4</string>
	<key>STORAGE_BUCKET</key>
	<string>imis-d55f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10972751751:ios:280096465582729fead522</string>
	<key>DATABASE_URL</key>
	<string>https://imis-d55f4.firebaseio.com</string>
</dict>
</plist>